@import '../../styles/general/layout.styl';
@import '../../styles/general/spacing.styl';
@import '../../styles/components/button.styl';

:host
  display block
  box-sizing border-box
  vertical-align middle
  text-align left

button-class()
