@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/shadow.styl'
@import '../../styles/components/input.styl'
@import '../../styles/components/button.styl'
@import '../../styles/components/link.styl'

:host
  display block
  width 100%
  background $light

.ticket-h1
  h1-base($dark)
  margin 0

.ticket-info
  paragraph($dark)
  margin 0

button-class()
